amqp==5.1.0
asgiref==3.5.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
bs4==0.0.1
celery==5.2.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
dj-database-url==0.5.0
Django==4.0.3
django-appconf==1.0.5
django-audiofield==0.10.0
django-celery==3.1.17
django-cleanup==6.0.0
django-computed-property==0.3.0
django-cors-headers==3.11.0
django-crispy-forms==1.14.0
django-extra-keywords==1.1.2
django-heroku==0.3.1
django-imagekit==4.1.0
django-multiselectfield==0.1.12
django-searchable-select==1.5.0
djangorestframework==3.13.1
Flask==2.0.3
gunicorn==20.1.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
kombu==5.2.4
MarkupSafe==2.1.1
pilkit==2.0
Pillow==9.1.0
prompt-toolkit==3.0.29
psycopg2==2.9.3
pytz==2022.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.8
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.1.1
whitenoise==6.0.0
